<h1>About us</h1>

<p>Parity shift was created as a company to make things easier. In a nutshell.
That is the over arching rational for the company.</p>
<p>Theres nothing more annoying than having to repeat the same process over an over again, when this process is not smooth, or takes longer than it should.</p>
<p>At Parity shift, we know how to develop web based products which can help with this. So thats what we do.</p>
<p>We make products which make things less repetitive, less work, so you can focus on what you do best.</p>

<p>Our first product Porthole, came from identifying that a better UI for parts of AdWords would cut down on repetition, and just make that less of a pain point.</p>
<p>The same thing could be said about alot of things.</p>

<p>Got something which you wish was easier, or have a vision for a better way to do something. Please get in contact and start a discussion.</p>
