<h1>Parity shift</h1>

<h2>We create engaging web based tools that bring delight, customer satisfaction and reduce monotony</h2>

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        Why?
      </div>
      <div class="card-block">
        <div class="card-title">
          Most importantly when starting, its important to establish a rational. At ParityShift were foremost developers.
        </div>
        <div class="card-text">
          <p>Which means everytime we start doing the same thing over and over again, we refine, we improve and we automate.</p>
          <p>These are fundamental time saving techniques, which cut down on human error, time and effort.</p>
        </div>
      </div>
      <div class="card-footer">
        <a class="btn btn-primary" routerLink="/about" title="Link to about page">More about us</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        What?
      </div>
      <div class="card-block">
        <div class="card-title">
          We have the technical know-how to build engaging, time saving web based products.
        </div>
        <div class="card-text">
          <ul class="list">
            <li>We start from an idea, find out what an existing solution or problem domain is</li>
            <li>We then find out how you think this could be improved, and find your pain points</li>
            <li>We figure out what features you need to solve your problem, and save you time and effort</li>
            <li>We create a solution that's user friendly, and solves your problem, and helps you focus on what really matters</li>
          </ul>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" routerLink="/products">View Products</button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        So?
      </div>
      <div class="card-block">
        <div class="card-title">
          Have an idea, but dont have the expertise? We can help.
        </div>
        <div class="card-text">
          <p>Do you work with something everyday and know exactly how you would improve it.<br/>
          Do you have a pet peeve about something at work which keeps bugging you.<br/>
          Have you already figured out a wishlist and getting tired of the repetition.</p>

          <p>If any of the above sounds familiar, get in contact and let's start a conversation.</p>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" routerLink="/about">Contact</button>
      </div>
    </div>
  </div>
</div>
